:root {
  --font1: "Inter", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: #e5e5e5;
  height: 100%;
}
body {
  min-height: 100%;
}
body {
  font-family: var(--font1);
  font-weight: 400;
}

.header {
  padding-top: 1.5rem;
}
.logo {
  display: block;
}
.container {
  width: 89%;
  margin: 0 auto;
}
.containr--main {
  max-width: 680px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 72px);
  padding-bottom: 1.5rem;
}
.main--height {
  height: auto;
}
.input {
   display: block;
   visibility: hidden;
}
@media (max-width: 1024px) and (orientation: landscape) {
  body,
  html {
    height: auto !important;
  }
  .main {
    height: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 4.625rem;
  }
  .main {
    height: calc(100vh - 124px);
    padding-bottom: 2.5rem;
  }
  .main--height {
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-top: 2.5rem;
  }
  .main {
    height: calc(100vh - 90px);
  }
  .main--height {
    height: auto;
  }
}
